.comments{

    display: grid;
    padding: 1.5rem 1.5rem;
    width:50%;

    margin:0 auto;
    height: fit-content;
    min-height: 36rem;
    background-color: rgba(#eff,.025);
 font-size: 3.0rem;
 font-weight: 500;
 grid-template-columns: 1fr 1fr;
grid-template-rows: minmax(.5rem,4rem) minmax(.5rem,2.4fr) 4.5rem;
row-gap: 30px;
 grid-column-gap: 20px;
 animation: removeComment 2s ease-out;

 @media (max-width: 600px) {
    //margin:0 0;
    width: 100%;
   }

 @keyframes removeComment {
    0% {
     opacity: .2;
    }
  
    50% {
        opacity: .44;
    }
  
    100% {
        opacity: .99;
    }
  }
 
 position: relative;

 @media (max-width: 1100px) {
   width: 70%;
  }



 
 &__img{
    font-size: 2.0rem;
    height: 5rem;
    width: 5rem;
    background-color: #004346;
    border-radius: 50%;
    text-align:center;
    padding: 1rem 1rem;
    border: #fff 2px;
    grid-column-start: 1;
        grid-column-end: 2;
        
 }

 &__icons{
     display: flex;
   gap: 4rem;
 }
    
    
    &__company{
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 2.3rem;
        text-transform: uppercase;
        justify-self: end;
        padding-bottom:.5rem;

        @media (max-width: 500px) {
            font-size: 1.6rem;
            padding-bottom:1.5rem;
           }
    
    

    }
  
    &__time{


        position: absolute;
       left: 2.5%;
        bottom: 5%;
       font-size: 1.9rem;
       opacity: .85;
    }

    &__text{

        grid-column-start: 1;
        grid-column-end: 3;
       
        word-wrap:normal;
     


    }

}

.com__container{

    height: fit-content;

    margin: 1.5rem 0rem;


   
}
