.form {
   
 font-size: 2.5rem;
   margin:0 auto;
 width: 50%;

 @media (max-width: 70rem) {
  width:100%;
 }
    
}
  button {

    color:#004346;
    border-radius: 10px;
    background-color: white;
    border: none;
    width: 10rem;
  }

input[type=text] {
    border-radius: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    text-align: left;

    padding: 1rem 1rem;
  }

  input, textarea {
    font-family:inherit;
    font-size: inherit;
    margin: .5rem;
    width: 70%;
    resize: none;
   

  }

  .big {
    text-align: center;
    height: fit-content;
  }